<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>TimeLine</title>
	<!-- <link rel="stylesheet"  href="../lib/normalize/normalize.css"> -->
	<link rel="stylesheet"  href="../lib/pure/pure.css">
	<link rel="stylesheet"  href="../lib/animate/animate.min.css">
	<link rel="stylesheet"  href="../lib/fa/css/font-awesome.min.css">
	<style>
	.timeline{

	}
	.timeline li{
		list-style: none;
		display: block;
	}

	</style>

</head>
<body>

	<ul class="timeline">
		<li>
			

		</li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>

	<script src="../lib/jquery/jquery.js"></script>
	<script src="../lib/arttemplate/template.js"></script>
	<script>
	jQuery(document).ready(function($) {



	});
	</script>
</body>
</html>